{% extends "::index.html.twig" %}

{% block title %}{{ parent() }} - Nous ne sommes pas disponible pour le moment{% endblock %}

{% block content %}
    <h1>Nous ne sommes pas disponible pour le moment</h1>
    <p>
        Le site n'est pas disponible pour le moment.<br />
        Veuillez réessayer un petit peu plus tard.
    </p>

    <p>
        Nous sommes désolé pour la gêne occasionnée.<br>
        S'il s'agit d'une erreur, veuillez contacter un administrateur pour que celle-ci soit résolue.
    </p>
{% endblock %}