{% extends 'TerAelisForumBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>Edition de page</h1>

    {% if page is defined and page is not empty %}
        <div class="block">
            {{ page.content | bbcode_filter('my_admin_filter') }}
        </div>
    {% endif %}

    <div class="block">
        {{ form_start(form) }}
            <div class="bbcode">
                {{ bbcodeInput('content', form_errors(form.content), form_widget(form.content)) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

