{% extends 'TerAelisForumBundle:Admin:admin.html.twig' %}

{% block page %}
    <h2 class="titrePage">Edition de catégorie</h2>
    <div class="formulaire">
        <form method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var $containerFormulaire = $('div#teraelis_forumbundle_categorietype_formulaire');
            var $lienAjoutFormulaire = $('<a href="#" id="ajout_formulaire" class="btn">Ajouter un formulaire</a>');
            var $containerBalise = $('div#teraelis_forumbundle_categorietype_balise');
            var $lienAjoutBalise = $('<a href="#" id="ajout_balise" class="btn">Ajouter un balise</a>');
            var $indexFormulaire = $containerFormulaire.find(':input').length;
            var $indexBalise = $containerBalise.find(':input').length;
            var $index = $indexFormulaire + $indexBalise;

            $containerFormulaire.append($lienAjoutFormulaire);
            $containerFormulaire.addClass('admin_categorie_formulaire');
            $containerBalise.append($lienAjoutBalise);
            $containerBalise.addClass('admin_categorie_formulaire');

            $lienAjoutFormulaire.click(function(e) {
                ajouterFormulaire($containerFormulaire);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });
            $lienAjoutBalise.click(function(e) {
                ajouterFormulaire($containerBalise);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            if ($index == 0) {
                ajouterFormulaire($containerFormulaire);
            } else {
                $containerFormulaire.children('div').each(function() {
                    ajouterLienSuppression($(this));
                });
            }
            $containerBalise.children('div').each(function() {
                ajouterLienSuppression($(this));
            });

            // La fonction qui ajoute un formulaire Categorie
            function ajouterFormulaire($container) {
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '')
                        .replace(/__name__/g, $index));
                $prototype.addClass('admin_categorie_item');
                ajouterLienSuppression($prototype);
                $container.append($prototype);
                $index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function ajouterLienSuppression($prototype) {
                var $lienSuppression = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                $prototype.append($lienSuppression);
                $lienSuppression.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}