{% if fbScript is not defined %}
    {% block fbScriptBlock %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
    {% endblock %}
    {% set fbScript = true %}
{% endif %}

{% if url is not defined or url == null %}
    {% set url = app.request.uri %}
{% endif %}

<div class="fb-share-button" data-href="{{ url }}" data-type="button"></div>