<div class="modal js-modal js-book-modal" style="display:none;">
    <div class="modal-overlay js-modal-close"></div>
    <div class="modal-content js-modal-container book-modal-container">
        <div class="modal-content-menu">
            <ul>
                <li>
                    <button class="btn js-book-config-toggle">
                        Configurer
                    </button>
                </li>
                <li>
                    <button class="btn js-modal-close">
                        Fermer
                    </button>
                </li>
            </ul>

            <form novalidate class="formulaire formulaire--small-width js-book-config"  style="display: none">
                <div class="mainForm form-field">
                    <div class="form-group">
                        <div class="form-label">
                            <label for="">Taille de la police</label>
                        </div>
                        <div class="form-input">
                            <input class="js-book-config-input" type="text" data-bind="modalFontSize" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label">
                            <label for="">Largeur du texte</label>
                        </div>
                        <div class="form-input">
                            <input class="js-book-config-input" type="text" data-bind="modalWidth" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label">
                            <label for="">Type de Police</label>
                        </div>
                        <div class="form-input">
                            <input class="js-book-config-input" type="text" data-bind="modalFontFamily" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label">
                            <label for="">Hauteur de ligne</label>
                        </div>
                        <div class="form-input">
                            <input class="js-book-config-input" type="text" data-bind="modalLineHeight" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label">
                            <label for="">Couleur de la police</label>
                        </div>
                        <div class="form-input">
                            <input class="js-book-config-input" type="color" data-bind="modalFontColor" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label">
                            <label for="">Couleur du fond</label>
                        </div>
                        <div class="form-input">
                            <input class="js-book-config-input" type="color" data-bind="modalBackgroundColor" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-content-main book-modal-content js-book-modal-content">

        </div>
    </div>
</div>