<div class="modal js-modal js-lightbox" data-initial-state="0" style="display: none">
    <div class="modal-overlay js-modal-close"></div>
    <div class="modal-content js-modal-container">
        <div class="modal-content-menu">
            <ul>
                <li>
                    <button class="btn js-lightbox-prev">Précédent</button>
                </li>
                <li>
                    <button class="btn js-lightbox-next">Suivant</button>
                </li>
                <li>
                    <button class="btn js-lightbox-toggle-size">Agrandir</button>
                </li>
                <li>
                    <button class="btn js-modal-close">Fermer</button>
                </li>
            </ul>
        </div>
        <div class="modal-content-main js-modal-content">
        </div>
    </div>
</div>