{% extends "TerAelisTChatBundle:Salon:layout.html.twig" %}

{% block page %}
    <h2>Créer un salon</h2>
    {% include "TerAelisTChatBundle:Salon:form-content.html.twig" with {form: form} %}
{% endblock %}