{% extends 'TerAelisForumBundle:Forum:layout.html.twig' %}

{% block users_link %}{% endblock %}

{% block page %}
    <div class="block">
    <p class="paragraphe">
        <span style="color: #B67823"><strong>Qu'est ce que Ter Aelis ?</strong></span><br><br><br>
    </p>
    <div class="align-justify">Ter Aelis est un site de création et de partage artistique. Au carrefour de plusieurs
        domaines culturels, nous investissons d’abord les champs de la littérature, du graphisme et du jeu de rôle en
        encourageant l’interdisciplinarité. Nous réalisons essentiellement nos activités sur notre forum ou sur ce blog.
        Grâce à notre association, nous réalisons également des évènements hors la toile, et les membres se rencontrent
        régulièrement.
    </div><br><br>
    <div class="align-center"><strong><span style="color: #DD985C">Présentation</span></strong></div><br><br>
    <div class="align-justify">Né en janvier 2008, Ter Aelis fut d’abord un lieu d’apprentissage : les plus expérimentés
        prenaient sous leurs ailes des débutants et encourageaient leur progression à l’aide d’exercices, cours et
        tutoriels. Avec le temps, les adolescents sont devenus de jeunes adultes, et les jeunes adultes sont entrés dans
        la vie active – certains graphistes devenus, des professionnels. Les « écoles » ont laissé place à des échanges
        plus informels mais l’entraide est restée une de nos valeurs principales.<br><br>Le regroupement de ces
        activités sur une seule et même plateforme nous a permis d’être un espace original sur internet entraînant nos
        membres à s’ouvrir vers des domaines inconnus. A l’inverse des sites hyperspécialisés, notre diversité est
        devenue notre identité.
    </div><br><br>
    <div class="align-center"><strong><span style="color: #DD985C">Équipe :</span></strong></div><br><br><u>Les
    administrateurs de Ter Aelis (« Héliaste »)</u> :<br>Aligby<br>Cassiopée<br>Ramrod<br><br><u>Les
    coordonnateurs (animateurs et modérateurs) </u>:<br>Coordonnateurs graphiques :<br>Laylay<br>Mirwane<br>
    <br>Coordonnateurs littéraires :<br>Chikoun<br>Mike001<br><br>Coordonnateurs rôlistes :<br>Aillas<br>Méli<br><br>
    <br><span style="color: #B67823">Quelques questions que vous pourriez vous poser :</span><br><br><span
        style="color: #DD985C">Comment passer d'une page à une autre ?</span><br><br>
    <br>Il existe trois pages sur Ter Aelis représentées par des logos à l'effigie de chaque pôle (Littérature, Graphisme et Rôlisme). Vous trouverez en permanence ces trois logos en haut du forum.
    <br>
    <br>Celui placé au centre représente la page sur laquelle vous naviguez actuellement et permet de revenir à l'accueil de cette page. Les deux autres logos sont situés en plus petit à droite et permettent de se diriger directement vers l'accueil de leur pôle.
    <br><br>Notez que les sections communes comme l'Interconnexion sont accessibles sur les accueils de chaque page.<br>
    <br><span style="color: #DD985C">Je suis nouveau : quand puis-je donner mon avis sur le forum ?</span><br>
    <br>Dès lors que vous êtes enregistré sur le forum ET que vous vous êtes présentés dans le sujet dédié, vous pouvez venir donner votre avis.
    <br><br><span style="color: #DD985C">Pourquoi n'ai-je pas besoin de m'enregistrer ?<br></span>
    <br>Vous pouvez ne pas en avoir besoin pour explorer certaines parties du forum. C'est à l'administrateur de décider si vous avez besoin ou non de vous enregistrer pour poster des messages sur certaines sections. Toutefois, l'enregistrement vous donnera accès à des fonctions additionnelles non-disponibles pour les invités tels que le choix d'une image avatar, une messagerie privée, l'envoi d'e-mail à des amis, l'inscription à un groupe d'utilisateurs, etc. L'enregistrement prend seulement quelques instants, il est donc recommandé de le faire.
    <br><br><br><span style="color: #DD985C">Pourquoi suis-je déconnecté automatiquement ?</span><br>
    <br>Si vous ne cochez pas la case "Se souvenir de moi" à chaque visite lorsque vous vous connectez, le forum vous gardera seulement connecté pour une période préétablie. Ceci permet d'éviter une utilisation abusive de votre compte par quelqu'un d'autre. Pour rester connecté, cochez la case en vous connectant, ceci n'est pas recommandé si vous accédez au forum en utilisant un ordinateur partagé, ex : bibliothèque, cybercafé, université, etc.
    <br><br><span style="color: #DD985C">J'ai perdu mon mot de passe !</span><br>
    <br>Ne paniquez pas ! Si votre mot de passe ne peut être retrouvé, il peut par contre être réinitialisé. Essayez de contacter un administrateur qui le fera pour vous.
    <br><br><span style="color: #DD985C">Comment puis-je changer mes préférences ?</span><br>
    <br>Toutes vos préférences (si vous êtes enregistrés) sont stockées dans la base de données. Pour les modifier, cliquez sur le lien Profil (haut à gauche, en dessous de votre nom d'utilisateur). Ceci vous permettra de changer toutes vos préférences.
    <br><br><span style="color: #888888">Vous pourrez trouver davantage de questions/réponses dans la FaQ.</span>
    </div>
{% endblock %}
